body{
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    Color: rgb(0, 0, 0);
}

header{
    Color: rgb(0, 0, 0);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 33vw;
    margin-top: 20px;
}

.timer{
    display: grid;
    grid-auto-flow: column;
    margin-top: 20px;
}